.homepage{
    background-image:url('https://cdn.nohat.cc/thumb/f/720/5637714231689216.jpg');
    background-size: cover;
    text-align: center;
  }

  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:#282c34;
  }
  .image {
  width: 3px;
  height: 1px;
  margin-right: -900px;
}